.center-container {
  margin: 0 auto;
  text-align: center;
}

.photos-container {
  margin: 0 auto;
}

.camera-info-container {
  margin: 0 auto;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 20px;
}

.camera-img-container {
  display: inline-block;
  padding-right: 20px;
}

.camera-img {
  max-height: 500px;
  max-width: 500px;
}

.camera-details-container {
  display: inline-block;
}

.camera-info {
  font-size: 10pt;
  color: #939393;
  white-space: pre-line;
  text-align: left;
}

.camera-title {
  text-align: left;
  padding-bottom: 10px;
}
