@media (min-width: 576px) {
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 1em;
      padding-left: 1em;
    }
}

.navbar {
  background-color: #fdfdfd;
  border-bottom: 0.5pt solid #e4e4e4;
}

.navbar-nav a {
  color: #939393;
  font-size: 10pt;
}

.navbar-list {
  flex: auto;
}

.nav-item {
  display: inline-block;
}
