.photo-container {
  padding-bottom: 20px;
  margin: 0 auto;
}

.photo-description {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 8pt;
  color: #939393;
  white-space: pre-line;
  margin: 0 auto;
}

.photo {
  margin: 0 auto;
  max-height: 80vh;
  max-width: 60vw;
  /* width: auto; */
  height: auto;
}

.polaroid {
  margin: 0 auto;
  max-height: 550px;
  max-width: 550px;
  width: 60vw;
  height: auto;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
